combine both trainning and testing data sets

In [2]:
import pandas as pd

# Read the CSV files
train_data = pd.read_csv('final_data_sets/train_set.csv')
test_data = pd.read_csv('final_data_sets/test_set.csv')

# Add a flag column to distinguish between training and testing data
train_data['is_train'] = 1
test_data['is_train'] = 0

# Combine the datasets
combined_data = pd.concat([train_data, test_data], ignore_index=True)

# Save the combined dataset to a new CSV file (optional)
combined_data.to_csv('combined_data.csv', index=False)

# Display the first few rows of the combined dataset
combined_data

,Age,Sex,Relationship Status,Occupation,Social Media User?,Time Spent,Q1,Q2,Q3,Q4,...,Facebook,Instagram,YouTube,Snapchat,Twitter,Discord,Reddit,Pinterest,TikTok,is_train
0,24,0,1,2,1,2,3,3,2,2,...,1,1,1,0,1,0,0,0,0,1
1,46,0,2,2,1,0,2,1,1,1,...,1,0,1,0,0,0,0,0,0,1
2,30,1,2,2,1,4,2,4,4,2,...,1,1,0,0,0,0,0,0,0,1
3,56,1,2,3,1,1,1,1,1,1,...,0,0,1,0,0,0,0,0,0,1
4,19,0,1,1,1,4,3,3,4,3,...,1,1,1,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,21,1,1,0,1,1,4,3,1,3,...,1,0,1,0,0,0,0,0,0,0
476,22,1,1,0,1,2,5,5,3,2,...,1,1,1,1,0,0,0,1,1,0
477,24,1,0,0,1,5,5,2,4,4,...,1,1,1,0,0,0,1,1,0,0
478,35,1,2,2,1,3,4,4,3,4,...,1,0,1,0,0,0,0,0,0,0
479,23,0,1,0,1,5,4,4,3,2,...,1,1,1,0,1,1,1,1,0,0

In [3]:
combined_data['Difficulty_level']

0      0
1      0
2      1
3      0
4      1
      ..
475    1
476    1
477    0
478    1
479    1
Name: Difficulty_level, Length: 480, dtype: int64

In [4]:
combined_data.count()

Age                    480
Sex                    480
Relationship Status    480
Occupation             480
Social Media User?     480
Time Spent             480
Q1                     480
Q2                     480
Q3                     480
Q4                     480
Q5                     480
Q6                     480
Q7                     480
Q8                     480
Difficulty_level       480
Facebook               480
Instagram              480
YouTube                480
Snapchat               480
Twitter                480
Discord                480
Reddit                 480
Pinterest              480
TikTok                 480
is_train               480
dtype: int64

In [5]:
# # Step 2: Separate the DataFrame into training and test sets
# train_df = combined_data[combined_data['is_train'] == 1]
# test_df = combined_data[combined_data['is_train'] == 0]

# #  drop the 'isTrain' column 
# train_df = train_df.drop(columns=['is_train'])
# test_df = test_df.drop(columns=['is_train'])

# # Step 3: Save the DataFrames to CSV files
# train_csv_path = 'final_data_sets/train_set.csv'
# test_csv_path = 'final_data_sets/test_set.csv'

# train_df.to_csv(train_csv_path, index=False)
# test_df.to_csv(test_csv_path, index=False)

## SMOTE

In [5]:
# Read the CSV files
train_data = pd.read_csv('final_data_sets/train_set.csv')

In [6]:
train_data.count()

Age                    384
Sex                    384
Relationship Status    384
Occupation             384
Social Media User?     384
Time Spent             384
Q1                     384
Q2                     384
Q3                     384
Q4                     384
Q5                     384
Q6                     384
Q7                     384
Q8                     384
Difficulty_level       384
Facebook               384
Instagram              384
YouTube                384
Snapchat               384
Twitter                384
Discord                384
Reddit                 384
Pinterest              384
TikTok                 384
dtype: int64

In [7]:
# # Split dataset into features and target
X_train = train_data.drop(['Difficulty_level'], axis=1)
y_train = train_data['Difficulty_level']

In [8]:
balanced_class_distribution = y_train.value_counts()
print("Class distribution before balancing:")
print(balanced_class_distribution)

Class distribution before balancing:
Difficulty_level
1    225
0    104
2     55
Name: count, dtype: int64

In [9]:
from imblearn.over_sampling import SMOTE

# Apply SMOTE to the training data
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

In [10]:
balanced_class_distribution = y_train_resampled.value_counts()
print("Class distribution after balancing:")
print(balanced_class_distribution)

Class distribution after balancing:
Difficulty_level
0    225
1    225
2    225
Name: count, dtype: int64

In [11]:
# Combine X and y into one DataFrame
train_data_smote = pd.concat([X_train_resampled, y_train_resampled], axis=1)

# Save the combined DataFrame to a CSV file
csv_file_path = 'final_data_sets/train_set_smote.csv'
train_data_smote.to_csv(csv_file_path, index=False)